*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: white;
}

/* ------------container */
.container {
  display: grid;
  grid-template-rows: 1fr auto 0.5fr 0.5fr;
  margin: 5rem;
  padding: 2rem 3rem 1rem 3rem;
  height: auto;
  width: 500px;
  border-radius: 2rem;
  background-image: linear-gradient(
    45deg,
    rgb(131, 58, 180, 0.7),
    rgb(253, 29, 29, 0.5),
    rgb(252, 176, 50)
  );
  background-size: 500%;
  animation: my-move 80s infinite alternate;
  background-color: rgb(29, 29, 29, 0.1);
  -webkit-box-shadow: 16px 11px 31px 4px rgba(0, 0, 0, 0.58);
  box-shadow: 16px 11px 31px 4px rgba(0, 0, 0, 0.58);
}
@keyframes my-move {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* -------------title */
.title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  border-bottom: 1px dotted white;
}
.subtitle {
  display: block;
  font-size: 0.75rem;
  margin: 0.75rem 0;
}
/* -------------tasklist */
.task-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}
.task-list li {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transition: all 0.5s ease;
  transform-origin: top left;
}
.fall {
  transform: rotate(10deg);
  opacity: 0;
}
.task-list .actions {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  /*   justify-content:center; */
}
.btn-action-delete {
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 25px;
}
.task-list .label {
  transition: opacity 1s linear;
}
.task-list .done .label {
  opacity: 0.6;
  text-decoration: line-through;
}
/* -----------------addtask */
.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 0 0;
  border-top: 1px dotted white;
}

.form {
  display: flex;
  padding: 2rem 0;
}
.form input {
  flex-grow: 1;
  border: 0.5px solid white;
  padding-left: 30px;
  border-radius: 15px;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
}
::placeholder {
  color: white;
}
.form input:focus {
  background-color: transparent;
  border: 1px solid white;
}

.form button {
  padding: 0 1.3rem;
  margin-left: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 225, 0.2);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 50px;
  transition: background 0.2s ease-out;
}
.form button:hover {
  filter: brightness(140%);
}
/* -----------------checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  width: 1.45em;
  height: 1.45em;
  border: 2px dashed white;
  border-radius: 50%;
  transform: translateY(0.08em);
  display: grid;
  place-content: center;
}
.filter-wrapper input[type="checkbox"] {
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 5px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  color: white;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
